<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
</head>
<body>
<ul>
    <li><a href = "/">
        Information</a>
    </li>
</ul>
<img src="greenfox.png" alt="fox">
<p th:text="'This is ' + ${name} + '. Currently living on salad and water. He knows ' + ${numberoftricks} + ' tricks.'"></p>
<h1>Known tricks</h1>
<div th:if="${numberoftricks > 0}">
<ul>
    <li>Writh HTML</li>
    <li>Code in Java</li>
</ul>
</div>
<div th:unless="${numberoftricks > 0}">
    <p>You know no tricks, yet. Go and learn some.</p>
</div>
</body>
</html>