<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
</head>
<body>
<ul>
    <li><a th:href = "@{'/?name=' + ${foxname}}">Information</a>
    </li>
    <li><a th:href = "@{'/nutritionstore?name=' + ${foxname}}">Nutrition Store</a>
    </li>
    <li><a th:href="@{'/trickcenter?name=' + ${foxname}}">Trick Center</a>
    </li>
</ul>
<img src="greenfox.png" alt="fox">
<p th:text="'This is ' + ${foxname} + '. Currently living on ' + ${food} + ' and ' + ${drink} +'. He knows ' + ${numberoftricks} + ' tricks.'"></p>
<h1>Known tricks</h1>
<ul th:if="${tricks != null}" th:each="trick : ${tricks}">
    <li th:text="${trick}"></li>
</ul>
<p th:if="${numberoftricks == 0}">You know no tricks, yet. Go and learn some.</p>
</body>
</html>