<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
</head>
<body>
<h1>Welcome to Programmer Fox Club!</h1>
<p>Please, provide a name, so you can associate it to your pet!</p>
<form action="#" th:action="@{/loginbyname}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
        <input type="submit" value="GO">
    </div>
</form>
<p>
    
</p>
<a href = "/addnewfox"> Add new fox </a>
</body>
</html>