<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Raise balance #</title>
    <meta charset="utf-8" />
</head>
<body>
<h1 style="font-size: 60px; color: darkblue"> Bank of Simba </h1>
<h3 style="font-size: 36px; color: lightseagreen">Raising balance</h3>
<p style="font-size: 30px; color: black">Please select whose balance will you raise:</p>


    <form name='name' th:object="${names}"action="#" th:action="@{/newbalance}"  method='POST'>
        <table>
            <tr>
                <td>Select name: </td>
                <td>
                    <select id="name" name="name" >
                        <option value=""> -- </option>
                        <option th:each="name : ${names}"
                                th:value="${name}"
                                th:utext="${name}"/>
                    </select>
                </td>
            </tr>

            <tr>
                <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
        </table>
    </form>

</body>
</html>